<form #f="ngForm" (ngSubmit)="submitForm()" class="custom-form" *ngIf="editDebtPaymentModel">
  <div class="row">
    <div class="sm-col-12 col-md-6">
      <app-custom-input label="debtPayment.name" type="text" [data]="editDebtPaymentModel" id="name" [form]="f" [required]="true"></app-custom-input>
    </div>
    <div class="sm-col-12 col-md-6">
      <app-custom-input label="debtPayment.description" type="text" [data]="editDebtPaymentModel" id="description" [form]="f"></app-custom-input>
    </div>
  </div>
  <div class="row mt-4">
    <div class="sm-col-12 col-md-6">
      <app-custom-date-picker label="debtPayment.paymentDate" [data]="editDebtPaymentModel" id="paymentDate" [form]="f" [required]="true"></app-custom-date-picker>
    </div>
    <div class="sm-col-12 col-md-6">
      <app-custom-input label="debtPayment.amount" type="currency" [maxAmount]="maxAmount" [data]="editDebtPaymentModel" id="amount" [form]="f" [disabled]="editDebtPaymentModel.payed" [required]="true"></app-custom-input>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="sm-col-12 col-md-6">
      <app-custom-file-uploader [data]="editDebtPaymentModel" id="image" [customImgLabel]="editDebtPaymentModel.image?.name" [form]="f" (changeImg)="onFileSelected($event)" (showImagePreview)="showImagePreviewModal($event)"></app-custom-file-uploader>
    </div>
  </div>
  <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.save" [centered]="true" [disabled]="f.invalid"></app-custom-button>
</form>
