@import "src/app/utils/styles/variables.scss";

:host {
  display: block;
}

.without-icon {
  ::ng-deep .mat-mdc-select-trigger {
    padding: 15px !important;
    cursor: pointer;
    & option {
      outline: 2px solid $lightBlue;
      color: $white;
      padding: 25px !important;
      border: 1px solid red; // Add a border to the options
    }
    &:focus {
      // box-shadow: 0 0 0 2px $lightBlue;
      // Modify the style of the select options when the dropdown is open
    }
  }
  i.label {
    padding-left: 15px;
  }
}

/* NORMAL STYLES */
::ng-deep {
  .mat-mdc-select-arrow svg {
    color: $gray !important;
    width: 35px;
    height: 35px;
  }

  .mat-mdc-select-placeholder {
    color: $gray !important;
    letter-spacing: 0 !important;
  }

  div.mat-mdc-select-panel {
    background-color: $darkBlue !important;
  }

  .mat-mdc-option .mdc-list-item__primary-text {
    color: $white !important;
  }

  .mat-mdc-option{
    transition: all .2s ease-in-out;
  }

  .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: $lightBlue !important;
  }

  .mat-select-search-input {
    background-color: $darkBlueBackground !important;
    color: $white !important;
    &::placeholder {
      color: $white !important;
    }
  }

  mat-select {
    position: relative;
  
    .mat-select-arrow-wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  
    ngx-mat-select-search {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: calc(100% - 24px); // adjust width to match mat-select
    }
  }
}

/* AUTH STYLES */
::ng-deep {
  .auth-container {
    color: $lightBlue !important;
  }
}

.required-error {
  color: $danger;
}