@import "src/app/utils/styles/variables.scss";

:host {
  display: block;
}

.without-icon {
  ::ng-deep .mat-mdc-select-trigger {
    padding: 15px !important;
    cursor: pointer;
    & option {
      outline: 2px solid $lightBlue;
      color: $white;
      padding: 25px !important;
      border: 1px solid red; // Add a border to the options
    }
    &:focus {
      // box-shadow: 0 0 0 2px $lightBlue;
      // Modify the style of the select options when the dropdown is open
    }
  }
  i.label {
    padding-left: 15px;
  }
}

::ng-deep {
  .p-autocomplete {
    width: 100%;
    input {
      padding: $inputPaddingWithRightIcon;
    }
    .p-button-icon-only {
      width: fit-content;
      right: 16px;
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

/* AUTH STYLES */
::ng-deep {
  .auth-container {
    color: $lightBlue !important;
  }
}

.required-error {
  color: $danger;
}