<app-auth-container>
  <form (ngSubmit)="updatePassword()" #f="ngForm" class="auth-form">
    <h2>{{"updatePassword.title" | translate}}</h2>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-lock" label="userInfo.currentPassword" type="password" [data]="updatePasswordModel" id="currentPassword" [form]="f" [required]="true"></app-custom-input>
    </div>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-lock" label="userInfo.newPassword" type="password" [data]="updatePasswordModel" id="newPassword" [form]="f" [required]="true"></app-custom-input>
    </div>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-lock" label="userInfo.confirmPassword" type="password" [data]="updatePasswordModel" id="confirmPassword" [form]="f" [required]="true"></app-custom-input>
    </div>
    <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.send" [centered]="true"></app-custom-button>
  </form>
</app-auth-container>
