@import "src/app/utils/styles/variables.scss";
@import '@angular/material/theming';

.without-icon {
  input {
    padding: 15px 15px 7.5px;
  }
  i.label {
    padding-left: 15px;
  }
}

::ng-deep {
  .p-calendar {
    width: 100%;
    &:not(.p-calendar-disabled) {
      &.p-focus > .p-inputtext {
        box-shadow: none;
      }
    }
  }
}