<div class="custom-input" [ngClass]="{'invalid': isInvalidInput(), 'without-icon': !icon, 'with-static-label': !dynamicLabel, 'disabled': disabled}">
  <span class="static-label" *ngIf="!dynamicLabel">{{ label| translate }}<span *ngIf="required">*</span></span>
  <p-calendar 
    [name]="id"
    #idModel="ngModel"
    [(ngModel)]="data[id]" 
    [readonlyInput]="true" 
    [minDate]="minDate" 
    [maxDate]="maxDate" 
    [showIcon]="true"
    dateFormat="dd/mm/yy"
    (onSelect)="onDateChange($event)"
    provide-parent-form
  >
  </p-calendar>
</div> 