@import "src/app/utils/variables.scss";

:host {
  display: block;
}

.without-icon {
  input {
    padding: 15px 15px 7.5px;
  }
  i.label {
    padding-left: 15px;
  }
  input[type="password"] {
    padding: 15px 40px 7.5px 15px;
    button {
      position: absolute;
      height: 100%;
      width: 40px;
      margin: 0;
      right: 0;
      color: $lightBlue;
      border: 0;
      background-color: transparent;
    }
  }
}

.required-error {
  color: $danger;
}
