<app-auth-container>
  <form (ngSubmit)="login()" #f="ngForm" class="auth-form">
    <h2>{{"login.title" | translate}}</h2>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-user" [dynamicLabel]="true" label="userInfo.username" type="text" [data]="userInfo" id="username" [form]="f" [required]="true"></app-custom-input>
      <app-custom-input class="mt-4" icon="icon fa-solid fa-lock" [dynamicLabel]="true" label="userInfo.password" type="password" [data]="userInfo" id="password" [form]="f" [required]="true"></app-custom-input>
      <div class="options mt-2">
        <a routerLink="/auth/recover-password">{{ "recoverPassword.title" | translate}}</a>
      </div>
    </div>
    <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.login" [centered]="true"></app-custom-button>
    <p class="mt-4">{{ "login.noAccount" | translate }} <a routerLink="/auth/register">{{ "login.register" | translate }}</a></p>
  </form>
</app-auth-container>