<app-auth-container [bigContainer]="true">
  <app-custom-button btnType="back" class="back" (onClick)="back()"></app-custom-button>
  <form (ngSubmit)="createUser()" #f="ngForm" class="auth-form">
    <h2>{{"register.title" | translate}}</h2>
    <div class="inputs w-100 m-auto mb-5">
      <div class="row">
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.firstName" [dynamicLabel]="true" type="text" [data]="registerModel" id="firstName" [form]="f" [required]="true"></app-custom-input>
        </div>
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.secondName" [dynamicLabel]="true" type="text" [data]="registerModel" id="secondName" [form]="f"></app-custom-input>
        </div>
      </div>
      <div class="row mt-4">
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.lastName" [dynamicLabel]="true" type="text" [data]="registerModel" id="lastName" [form]="f" [required]="true"></app-custom-input>
        </div>
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.secondLastName" [dynamicLabel]="true" type="text" [data]="registerModel" id="secondLastName" [form]="f" ></app-custom-input>
        </div>
      </div>
      <div class="row mt-4">
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.phone" [dynamicLabel]="true" type="text" [data]="registerModel" id="phone" [form]="f" [required]="true"></app-custom-input>
        </div>
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.salary" [dynamicLabel]="true" type="text" [data]="registerModel" id="salary" [form]="f" [required]="true"></app-custom-input>
        </div>
      </div>
      <div class="row mt-4">
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.email" [dynamicLabel]="true" type="text" [data]="registerModel" id="email" [form]="f" [required]="true"></app-custom-input>
        </div>
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.username" [dynamicLabel]="true" type="text" [data]="registerModel" id="username" [form]="f" [required]="true"></app-custom-input>
        </div>
      </div>
      <div class="row mt-4">
        <div class="sm-col-12 col-md-6">
          <app-custom-input label="userInfo.password" [dynamicLabel]="true" type="password" [data]="registerModel" id="password" [form]="f" [required]="true"></app-custom-input>
        </div>
      </div>
    </div>
    <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.register" [centered]="true"></app-custom-button>
  </form>
</app-auth-container>