/* You can add global styles to this file, and also import other style files */
@import "src/app/utils/styles/variables.scss";
@import "src/app/utils/styles/mixins.scss";
@import "src/app/utils/styles/auth.scss";
@import "src/app/utils/styles/debt.scss";
@import "src/app/utils/styles/table.scss";

body {
  font-family: "Roboto", sans-serif;
  background-color: $backgroundColor !important;
}

.auth-background {
  background-color:$authBackground !important;
}


.custom-btn {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 10px;
  border: 0;
  color: $white;
}
app-custom-button.back{
  position: absolute;
  top: 20px;
  left: 20px;
  .back-btn {
    position: absolute;
    color: $white;
    font-size: 24px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: $lightBlue;
    border: 4px solid $lightBlue;
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: transparent;
      color: $lightBlue;
    }
  }
}

.custom-input {
  position: relative;
  width: 100%;
  input {
    @include inputLabel;
  }
  input, .mat-mdc-select-trigger {
    position: relative;
    width: 100%;
    background: $lightGray;
    border: 3px solid $gray;
    outline: none;
    padding: 15px 40px 7.5px;
    border-radius: 10px;
    color: $gray;
    font-weight: 500;
    font-size: 1em;
    height: $inputHeight;
    box-sizing: none;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $lightGray inset !important;
      background-color: white !important;
      -webkit-text-fill-color: $white !important;
    }

    &:disabled {
      background-color: $disabledBackground;
      border-color: $disabledColor;
      color: $disabledColor;
      cursor: not-allowed;
    }
  }
  i.label,
  i.icon {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: $gray;
    transition: 0.5s;
    pointer-events: none;
  }
  i.icon {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  i.label {
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    padding-left: 40px;
    line-height: 13px;
    font-weight: 900;
  }
  button.p-autocomplete-dropdown,
  button.p-datepicker-trigger {
    @include inputButton;
  }
  .p-inputnumber {
    input {
      padding: $inputPaddingWithLeftIcon;
    }
  }
  &.input-currency {
    input {
      padding: $inputPaddingWithCurrency;
    }
  }
}

.disabled {
  input {
    background-color: $disabledBackground !important;
    cursor: not-allowed !important;
  }
}

body:not(.auth-background) {
  .custom-form {
    button[type="submit"] {
      background-color: $success;
      padding: 15px 30px;
      border-radius: 10px;
      border: 2px solid $success;
      color: $white;
      transition: all .2s ease-in-out;
      height: 60px;
      width: 130px;
      &:hover {
        background-color: $successHover;
        border: 2px solid $successHover;
        color: $white;
        font-size: 18px;
        .spinner {
          color: $white;
        }
      }
      &:disabled {
        background-color: $successDisabled;
        border: 2px solid $successDisabled;
        color: $white;
        cursor: not-allowed;
      }
    }
  }
}

.custom-input select {
  // Add padding to the select arrow
  -webkit-appearance: none;
  appearance: none;
}

.custom-input.invalid {
  input {
    border-color: $danger;
  }
  i.label,
  i.icon,
  button i,
  input:focus ~ i.label,
  input.with-content ~ i.label {
    color: $danger;
  }
}

.without-icon {
  input {
    padding: 15px 15px 7.5px;
  }
  i.label {
    padding-left: 15px;
  }
  input[type="password"] {
    padding: 15px 40px 7.5px 15px;
    button {
      position: absolute;
      height: 100%;
      width: 40px;
      margin: 0;
      right: 0;
      color: $lightBlue;
      border: 0;
      background-color: transparent;
    }
  }
}

.with-static-label {
  .static-label {
    @include staticLabel;
  }
  input {
    padding: $inputPadding;
    font-size: 16px;
  }
  input[type=number].currency-input {
    padding: 15px 25px 15px !important;
  }
}

.p-inputtext {
  &:enabled {
    &:focus {
      box-shadow: none;
    }
  }
}

.custom-input input:focus ~ i.label,
.custom-input input.with-content ~ i.label,
.custom-select i.label {
  top: 15px;
  transform: translateY(-20px);
  font-size: 13px;
  color: $gray;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
