/* You can add global styles to this file, and also import other style files */
@import "src/app/variables.scss";

.auth-background {
  background-color: $backgroundColor !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #505355 !important;
}

.custom-btn {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 10px;
  border: 0;
  color: $white;
}
