$backgroundColor: #0b2872;
$darkBlue: #001220;
$darkBlueHover: #022a47;
$lightBlue: #3E94CE;
$lightBlueHover: #3e94ce38;
$darkBlueBackground: #1C2C42; 
$white: #fff;
$danger: #dc3545;
$dangerHover: #f5021a;
$dangerBackground: #dc354573;
$success: #0eca72;
$successHover: #08f084;
$successDisabled: #0eca7243;
$hoverColor: rgba(0,0,0,.2);
$bodyBackground: #f0f0e4;
$authBackground: #2e8fcf;
$gray: #6c757d;
$lightGray: #e9ecef;
$disabledBackground: rgba(255, 255, 255, 0.6);
$disabledColor: #444b51;