<app-auth-container>
  <button class="back-btn" (click)="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <form (ngSubmit)="recoverPassword()">
    <h2>{{"recoverPassword.title" | translate}}</h2>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-user" label="recoverPassword.userId" type="text" [data]="userInfo" id="userId" ></app-custom-input>
    </div>
    <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.send" [centered]="true"></app-custom-button>
  </form>
</app-auth-container>