<app-auth-container>
  <app-custom-button btnType="back" class="back" (onClick)="back()"></app-custom-button>
  <form (ngSubmit)="recoverPassword()" #f="ngForm" class="auth-form">
    <h2 class="mt-2">{{"recoverPassword.title" | translate}}</h2>
    <div class="inputs w-100 m-auto">
      <app-custom-input icon="icon fa-solid fa-user" [dynamicLabel]="true" label="recoverPassword.userId" type="text" [data]="userInfo" id="userId" [form]="f" [required]="true"></app-custom-input>
    </div>
    <app-custom-button type="submit" [isLoading]="isLoading" label="buttons.send" [centered]="true"></app-custom-button>
  </form>
</app-auth-container>